/* common styles */
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lato', sans-serif;
    color: #272727;
}

.primary-color{
    color: #E55473;
}

.secondary-color {
    color: #27272799;
    font-size: 14px;
}

.btn {
    padding: 12px 30px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #E55473;
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
}

.btn:hover {
    border: 2px solid #E55473;
    background-color: white;
    color: #E55473;
}

.secondary-heading {
    font-size: 30px;
    font-weight: 800;
}





/* banner section */
.banner-container {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(229, 84, 115, 0.10);
    position: relative;
}

.banner-info {
    width: 40%;
    position: absolute;
    left: 12.5%;
}

.banner-info>h1 {
    font-size: 60px;
    font-weight: 800;
}

.banner-info>p {
    margin: 20px 0px;
    line-height: 25px;
}

.banner-img {
    width: 35%;
    position: absolute;
    bottom: 0%;
    right: 12.5%;
}

.banner-img>img {
    width: 100%;
    bottom: 0px;
}




/* featured flower section */
.featured-flower-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 130px 12.5% 0px;
    text-align: center;
}

.featured-flower-container > h2 {
    margin-bottom: 20px;
}

.featured-flower-container > p{
    margin-bottom: 40px;
}

.featured-flower-img-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items:flex-end;
}

.image-1, .image-2, .image-3{  
    width: 320px;
    height: 350px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 50% 50% 0% 0%;
}

.featured-flower-img  img{
    width: 70%;
}

.image-1{
    background-color: #A7216226;
}

.image-2{
    align-items: center;
    background-color: #0597A026;
}

.image-3{
    background-color: #477D1126;
}

.featured-flower-img p{
    margin-top: 25px;
    font-size: 18px;
    font-weight: 600;
}

.featured-flower-img hr{
    width: 40%;
    margin: 0 auto;
}




/* icon section */
.icon-container{
    height: 250px;
    width: 75%;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    background-color: #2727270D;
    margin: 0 auto;
    text-align: center;
    color: #272727CC;
    font-size: 18px;
    font-weight: 400;
}

.icon > img{
    width: 66px;
    margin-bottom: 10px;
}

/* hot deal section */
.hot-deal-container{
    height: 50vh;
    display: flex;
    gap: 50px;
    background-color: rgba(229, 84, 115, 0.05);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 150px 0px 80px;
}

.hot-deal-info{
    width: 35%;
}

.hot-deal-info > p {
    margin: 15px 0px;
    line-height: 22px;
}

.hot-deal-img{
    width: 20%;
    height: 100%;
}

.hot-deal-img > img{
    height: 100%;
}

/* instagram section */
.instagram-container{
    width: 75%;
    height: 100vh;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.instagram-info > p {
    margin: 20px 0px;
}

.instagram-img-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.instagram-img-container>img{
    width: 24%;
}

.latest-deal-container{
    width: 75%;
    height: 40vh;
    margin: 0 auto;
    background-image: url("../Flower Asset/Rectangle 9.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.latest-deal-info{
    margin-bottom: 40px;
}

.latest-deal-info > p{
    line-height: 24px;
}

.latest-deal-input{
    width: 700px;
}

.latest-deal-input>[type="email"]{
    width: 70%;
    padding: 12px 15px;
    font-size: 14px;
    font-weight: 400;
    color: #27272799;
    border-radius: 8px;
}


